body{

}
h1, h2, h3, h4, p, ul, li, body{
    margin: 0;
    padding: 0;
}
a{
    transition: all 0.3s ease-out;
    text-decoration: none;

}

.horniPrima{
    min-width: 1000px;
}
.container{
    min-width: 1000px;
    margin: auto;
    display: flex;
}
.horniMenu{
    background-color: rgba(72, 52, 42, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header{
    background-image: url(obrazky/header.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 45vh;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    margin-top: 15px;
}
li{
    padding:10px;
    background-color:rgba(100, 0, 154, 0);
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;

    color: rgba(173, 216, 230, 0);
 
    outline: 2px solid rgba(173, 216, 230, 0);
    outline-offset: -2px;
    transition: all .3s ease;
}
li:hover{
    transform: scale(0.9);
    outline-offset: 3px;
    outline-color: aliceblue;
}
.menu ul li {
    display: inline-block;
    
}
.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

    color: aliceblue;
    text-align: bottom;
}
.menuPopisek{
    color: rgb(245, 167, 139);
    text-decoration: none;
    font-size: 50px;
    font-family: Kaushan script;
    
}
.horniPrima{
    text-align: center;
    font-family: Kaushan script;
    color: aliceblue;
    margin: 10px;
    text-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.horniPrima, p{
    margin: 15px;
}
#horniTitulek{
    font-size: 80px;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    display: inline-block;
}
.ikony{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
}
.ikony a {
    margin: 5px;
}

.animace{
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.animace:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.448);
    background-color: rgba(136, 136, 136, 0.2);
}


/* SECTION */
.pribeh{
    margin-top: 50px;
    margin-bottom: 50px;
}
.pribeh .container{
    display: flex;
    flex-direction: column;
}
.pribehTOP{
    text-align: center;
}
.pribehTOP h1{
    font-size: 70px;
}
.pribehBOTTOM{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    justify-content: space-around;
}
.pribehBox{
    max-width: 300px;
    flex: 0 1 300px;
}
.pribehNabidka{
    background: rgba(90, 62, 52, 0.954);
    padding: 15px;
    color: rgb(255, 188, 164);
    border-radius: 15px ;
    box-shadow: 0px 10px 50px rgb(0, 0, 0);
    font-size: 20px;
    display: flex;

}
.pribehPopis h2{
    text-align: center;
    border-bottom: 1px solid;
    margin: 5px;
}
.ilustrace img {
    width: 270px;
}
.ilustrace{
    text-align: center;
}
.pribehNabidka{
    flex-direction: row;
    max-width: 400px;
}
.sipka{
    transition: all .3s ease;
    text-align: center;
}
.sipka:hover{
    transform: translateX(5px);
}