body{

}
h1, h2, h3, h4, p, ul, li, body{
    margin: 0;
    padding: 0;
}
a{
    transition: all 0.3s ease-out;
    text-decoration: none;

}

.horniPrima{
    min-width: 1000px;
}
.container{
    min-width: 1000px;
    margin: auto;
    display: flex;
}
.horniMenu{
    background-color: rgba(72, 52, 42, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header{
    background-image: url(obrazky/header.jpg);
    height: 500px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    margin-top: 15px;
}
li{
    padding:10px;
    background-color:rgba(100, 0, 154, 0);
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;

    color: rgba(173, 216, 230, 0);
 
    outline: 2px solid rgba(173, 216, 230, 0);
    outline-offset: -2px;
    transition: all .3s ease;
}
li:hover{
    transform: scale(0.9);
    outline-offset: 3px;
    outline-color: aliceblue;
}
.menu ul li {
    display: inline-block;
    
}
.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

    color: aliceblue;
    text-align: bottom;
}
.menuPopisek{
    color: rgb(245, 167, 139);
    text-decoration: none;
    font-size: 50px;
    font-family: Kaushan script;
    
}
.horniPrima{
    text-align: center;
    font-family: Kaushan script;
    color: aliceblue;
    margin: 10px;
    text-shadow: 0px 5px 5px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.horniPrima, p{
    margin: 15px;
}
#horniTitulek{
    font-size: 50px;
    color: rgb(255, 255, 255);
}